<h1>RT-Form: Custom Validators</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="signupForm" (submit)="onSubmit()">
        <div>
          <div class="d-flex">
            <div class="form-group flex-fill">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                formControlName="username"
              >
              <span
                *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched"
                class="d-block error text-danger mb-2 ps-2"
              >
              </span>
              <span
                *ngIf="nameForbidden"
                class="d-block error text-danger mb-2 ps-2"
              >
                This Username is forbidden!
              </span>
              <span
                *ngIf="nameRequired"
                class="d-block error text-danger mb-2 ps-2"
              >
                This Field is required!
              </span>
            </div>
          </div>
          <div formGroupName="userData">
            <div class="form-group mt-2">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
              >
              <span
                *ngIf="!signupForm.get('userData.email')?.valid && signupForm.get('userData.email')?.touched"
                class="d-block error text-danger mb-2 ps-2"
              >
                Please Enter a valid E-Mail!
              </span>
            </div>
          </div>
        </div>
        <div class="form-group d-flex flex-fill">
          <div class="d-flex flex-fill flex-column me-2">
            <label for="gender">Gender</label>
            <select
              id="gender"
              class="form-control"
              formControlName="gender"
            >
              <option *ngFor="let gender of genders" [value]="gender">
                {{ gender | titlecase }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group mb-2" formArrayName="hobbies">
          <h4>Your Hobies</h4>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onAddHobbies()"
          >
            Add a Hobby
          </button>
          <div
            *ngFor="let hobbyControl of hobbyControls; let i = index"
            class="form-group my-2"
          >
            <input
              class="form-control"
              type="text"
              [formControlName]="i"
            >
          </div>
        </div>
        <div>
          <span
            *ngIf="!signupForm.valid && signupForm.touched"
            class="d-block error text-danger mb-2 ps-2"
          >
            Please check your Inputs!
          </span>
        </div>
        <div class="mb-4">
          <button
            class="btn btn-primary"
            type="submit"
          >
            Submit
          </button>
          <button
            class="btn btn-danger ms-4"
            type="button"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

