<h1>TD-Form: Set / Get / Clear Data</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="d-flex">
            <div class="form-group flex-fill">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                ngModel
                name="username"
                required
              >
            </div>
            <div class="d-flex align-items-center mt-4 ms-2">
              <button
                class="btn btn-primary"
                type="button"
                (click)="onSetUsername(form)"
              >
              Suggest an Username
            </button>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            >
            <div
              class="error text-danger mb-4 ps-4"
              *ngIf="!email.valid && email.touched">
              Please Enter a valid E-Mail!
            </div>
          </div>
        </div>
        <span class="d-block my-2 error text-danger"
          *ngIf="!userData.valid && userData.touched">
          UserData is Invalid!
        </span>
        <div class="form-group">
          <label for="secret">Secret Question</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultOption"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first Teacher?</option>
          </select>
          <textarea
            class="form-control"
            name="secretQuestion"
            rows="3"
            [(ngModel)]="secretAnswer"
          ></textarea>
          <span class="mb-2 d-block">your question is: {{ secretAnswer }}</span>
        </div>
        <div class="form-group d-flex flex-fill">
          <div class="d-flex flex-fill me-2">
            <select
              id="gender"
              class="form-control"
              [ngModel]="defaultGender"
              name="genderSelect"
            >
              <option *ngFor="let gender of genders" [value]="gender">
                {{ gender | titlecase }}
              </option>
            </select>
          </div>
          <div class="radio d-flex align-items-center">
            <label class="me-2" *ngFor="let gender of genders">
              <input
                type="radio"
                [ngModel]="defaultGender"
                [value]="gender"
                name="genderRadio"
              >
              {{ gender | titlecase }}
            </label>
          </div>
        </div>
        <div class="mb-4">
          <button
            [disabled]="!form.valid"
            class="btn btn-primary"
            type="submit"
          >
            Submit
          </button>
          <button
            class="btn btn-danger ms-4"
            type="button"
            (click)="onClear(form)"
          >
            Clear
          </button>
        </div>
      </form>
      <div
        class="border border-primary py-4 px-4 rounded-3 mb-4"
        *ngIf="submitted"
        >
        <h1>Form-Data</h1>
        <ul class="list-unstyled">
          <li>
            <label>Username: {{ userFields.username }}</label>
          </li>
          <li>
            <label>E-Mail: {{ userFields.email }}</label>
          </li>
          <li>
            <label>Secret: {{ userFields.secret }}</label>
          </li>
          <li>
            <label>Question: {{ userFields.selectQuestion }}</label>
          </li>
          <li>
            <label>GenderSelect: {{ userFields.genderSelect }}</label>
          </li>
          <li>
            <label>GenderRadio: {{ userFields.genderRadio }}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
