<h1>RT-Form: Exercise</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="projectForm" (submit)="onSubmit()">
        <div>
          <div class="d-flex">
            <div class="form-group flex-fill">
              <label for="projectname">Projectname</label>
              <input
                type="text"
                id="projectname"
                class="form-control"
                formControlName="projectname"
              >
              <span
                *ngIf="!this.projectForm.get('projectname')?.valid && this.projectForm.get('projectname')?.touched"
                class="d-block error text-danger mb-2 ps-2"
              >
              Please add a Project Name
              </span>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
            >
            <span
              *ngIf="!this.projectForm.get('email')?.valid && this.projectForm.get('email')?.touched"
              class="d-block error text-danger mb-2 ps-2"
            >
              Please Enter a valid E-Mail!
            </span>
          </div>
        </div>
        <div class="form-group d-flex flex-fill">
          <div class="d-flex flex-fill flex-column me-2">
            <label for="projectstatus">Project Status</label>
            <select
              id="projectstatus"
              class="form-control"
              formControlName="projectstatus"
            >
              <option *ngFor="let status of projectStatus" [value]="status">
                {{ status | titlecase }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <span
            *ngIf="!this.projectForm.valid && this.projectForm.touched"
            class="d-block error text-danger mb-2 ps-2"
          >
            Please check your Inputs!
          </span>
        </div>
        <div class="mb-4">
          <button
            class="btn btn-primary"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
