<h1>TD-Form: Two-Way-Binding</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div id="user-data">
          <div class="d-flex">
            <div class="form-group flex-fill">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                ngModel
                name="username"
                required
              >
            </div>
            <div class="d-flex align-items-center mt-4 ms-2">
              <button class="btn btn-primary" type="button">Suggest an Username</button>
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            >
            <div
              class="error text-danger mb-4 ps-4"
              *ngIf="!email.valid && email.touched">
              Please Enter a valid E-Mail!
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Question</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultOption"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first Teacher?</option>
          </select>
          <textarea
            class="form-control"
            name="secretQuestion"
            rows="3"
            [(ngModel)]="secretAnswer"
          ></textarea>
          <span class="mb-4 d-block">your question is: {{ secretAnswer }}</span>
        </div>
        <button [disabled]="!form.valid" class="btn btn-primary mb-4" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
