<div class="container mt-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/"
            >
            Ex-a
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/b"
            >
            Ex-b
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/c"
            >
            Ex-c
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/d"
            >
            Ex-d
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/e"
            >
            Ex-e
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/f"
            >
            Ex-f
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/g"
            >
            Ex-g
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            |
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/h"
            >
            Ex-h
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/i"
            >
            Ex-i
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/j"
            >
            Ex-j
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              aria-current="page"
              routerLink="/k"
            >
            Ex-k
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
