<h1>TD-Form: Exercise</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form class="mb-4" (submit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <Label>E-Mail</Label>
          <input
            class="form-control"
            type="text"
            email
            ngModel
            name="email"
            required
            #email="ngModel"
          >
          <span
          *ngIf="!email.valid && email.touched"
            class="d-block error text-danger"
          >
            E-Mail is Invalid!
          </span>
        </div>
        <div class="form-group">
          <Label>Password</Label>
          <input
            class="form-control"
            type="password"
            password
            ngModel
            name="password"
            required
            #password="ngModel"
          >
          <span
          *ngIf="!password.valid && password.touched"
            class="d-block error text-danger"
          >
            Plaese set a Password!
          </span>
        </div>
        <div class="form-group">
          <select
            class="form-control"
            name="subscription"
            [ngModel]="defaultSubscription"
          >
            <option
              *ngFor="let subscription of subscriptionOptions"
              [value]="subscription">{{ subscription | titlecase}}</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

